<% if @user.errors.any? %>
  <ul>
    <%@user.errors.full_messages do |message|  %>
    <li><%= message %></li><br>
  </ul>
    <% end %>
<% end %>
<div class = "jumbotron text-center" style="height: 200px">
<h1>Update Page</h1>
</div>
<%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :password %>
  <%= f.text_field :password %>
  <%#= f.label :confirm_password %>
  <%#= f.text_field :confirm_password %>
  <%= f.submit %>
  <% end %>
  <div class="float-right" style="margin-right: 150px"><%= link_to 'Delete Profile',  user_path, data: { confirm: 'Are you sure?' }, method: :delete %>
  </div>
