


<h1>Who Do You Like?</h1>
<div class="row ">

<% @users.each do |u| %>
  <div class="card text-center" style="width: 20rem;">
    <%= link_to user_path(u) do%>
        <%= image_tag u.avatar, class:"rounded-circle", style:"max-height: 300px; max-width: 300px" %>
        <%end%>


    <%=form_for :like, url: "/like/#{u.id}", method:"post" do |f| %>
     <label>
      <p class="btn btn-primary"  >I like <%= u.name %>!  <%= f.submit "Like", type: :image, src: "/images/SparklingHeart.png", width: "30"%></p>
    </label>
  </br>
</div>
    <%end%>
<% end %>
</div>
