<h1> Sign Up For a New Account </h1>
<br>
  <%= form_for @user, url: { action: "create" } do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :password %>
  <%= f.text_field :password %>
  <p><br>
  <%= f.label :picture %>
  <%= f.file_field :avatar %>
  <%= f.label :preferences %>
  <input id="preferences_swimming" name="preference_check" type="checkbox" value="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/18700140_10154942083293071_8370634500906125912_n.jpg?oh=d244bfcd552f86e4870bab300ddf9f66&oe=5A9983CF">
    <label for="preferences: swimming"> I like Swimming</label>
  <input id="preferences_relaxing" name="preference_check" type="checkbox" value="http://s3.amazonaws.com/zacflix/uploads/monk.jpg" />
    <label for="preferences_relaxing">I like to chill</label>

  <p><br>
  <%= f.submit %>
<% end %>

  <!-- <h1> Show Us More About Yourself!</h1>

  <html>
<body> -->


<!-- <h2> Thing I like to Do Most on the Weekend: </h2>
<img src="/images/18700140_10154942083293071_8370634500906125912_n.jpg"  width="400" height="377" alt= "play with dolphins">
<h3> Play with Dolphins</h3>
<a><img src="https://vignette.wikia.nocookie.net/phobia/images/a/ab/Sports2.jpg"  width="400" height="377" alt= "play sports"/>
<h3> Be sporty</h3>

<img src="https://cdn01.vulcanpost.com/wp-uploads/2014/07/Digital-Trends.jpg"  width="400" height="377" alt= "play sports"/>
<h3> Relax and Watch Tv</h3>

</body>
<h2>
</html> -->
