<h1> Sign Up For a New Account </h1>
<br>
  <%= form_for @user, url: { action: "create" } do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :password %>
  <%= f.text_field :password %>
  <p><br>
  <%= f.label :picture %>
  <%= f.file_field :avatar %>
  <p><br>
  <%= f.submit %>
<% end %>

  <h1> Show Us More About Yourself!</h1>

  <html>
<body>


<h2> Things I like to Do on the Weekend: </h2>
<img src="/images/18700140_10154942083293071_8370634500906125912_n.jpg"  width="400" height="377">

</body>
</html>
