<div class="jumbotron" style="height: 200px">
<% if @user == current_user %>
  <h1 class="text-center">Profile Page</h1>
</div>

<% else %>
  <h1 class="text-center">User Page for <%= @user.name %>
    <% if !current_user.likees.include?(@user)%>
    <%=form_for :like, url: "/like/#{@user.id}", method:"post" do |f| %>
     <label>
      <p class="btn btn-primary"  >I like <%= @user.name %>!  <%= f.submit "Like", type: :image, src: "/images/SparklingHeart.png", width: "30"%></p>
    </label>
  </h1>
      <% end %>
    <% else %>
    <%=form_for :like, url: "/unlike/#{@user.id}", method:"post" do |f| %>
     <label>
      <p class="btn btn-primary"  >I no longer like <%= @user.name %>!  <%= f.submit "Like", type: :image, src: "/images/SparklingHeart.png", width: "30"%></p>
    </label>
  </h1>
      <% end %>
<% end %>
</div>
<% end %>
<div class="container">
<div class="row">
  <div class="col">
    <% if @user == current_user %>
    <h3>People you like:</h3>
    <% else %>
    <h3>People <%= @user.name %> likes:</h3>
    <% end %>
    <% if @user.likees.count == 0 %>
      <br>
      <p>No likes yet!</p>

    <% else %>
      <% @user.likees.each do |likee| %>
      <p>- <%= link_to likee.name, user_path(likee) %></p>
      <%end%>
    <% end %>
    <br>
    <br>
    <% if @user == current_user %>
      <h3>People that like you!</h3>
    <% else %>
      <h3>People that like <%= @user.name %>:</h3>
    <% end %>
    <% if @user.likers.count == 0 %>
      <br>
      <p>No likes yet!</p>

    <% else %>
      <% @user.likers.each do |liker| %>
      <p>- <%= link_to liker.name, user_path(liker) %></p>
      <% end %>
    <%end%>
  </div>


  <div class="col">
    Preferences
    <% @user.preference.labels.each do |label| %>
    <p>- <%= label.name %></p>
    <% end %>
  </div>

  <div class="col">
      Profile
      <% @user.profile.labels.each do |label| %>
      <p>- <%= label.name %></p>
      <% end %>
    </div>
</div>
</div>
